In [210]:
import pandas as pd

In [211]:
# https://www.basketball-reference.com/wnba/years/2023_games.html
schedule = pd.read_csv("reg_season.csv")
# remove first and last column
schedule = schedule.iloc[:, 1:-2]
schedule.head()

    Visitor/Neutral  PTS        Home/Neutral  PTS.1
0   Connecticut Sun   70       Indiana Fever     61
1   Phoenix Mercury   71  Los Angeles Sparks     94
2       Chicago Sky   77      Minnesota Lynx     66
3  New York Liberty   64  Washington Mystics     80
4     Atlanta Dream   78        Dallas Wings     85

In [212]:
# https://www.basketball-reference.com/wnba/years/2023.html
advanced_stats = pd.read_csv("advanced_stats.csv")
# Remove nan columns
advanced_stats = advanced_stats.dropna(axis=1, how='all')
# Remove fist and last columns
advanced_stats = advanced_stats.iloc[:, 1:-1]
advanced_stats.head()

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,Las Vegas Aces,29.0,34.0,6.0,35,5,12.55,-1.09,11.46,114.8,...,0.360,0.597,0.553,12.5,18.9,0.236,0.480,14.4,78.2,0.171
1,New York Liberty,28.8,32.0,8.0,32,8,8.68,-0.53,8.14,111.8,...,0.424,0.577,0.539,14.9,25.8,0.198,0.476,13.1,78.5,0.184
2,Connecticut Sun,29.1,27.0,13.0,26,14,3.70,-0.27,3.43,105.4,...,0.294,0.540,0.498,14.0,23.9,0.224,0.486,16.7,75.8,0.236
3,Dallas Wings,26.0,22.0,18.0,25,15,2.95,-0.31,2.64,109.5,...,0.292,0.535,0.489,13.7,32.8,0.224,0.504,15.0,77.2,0.237
4,Washington Mystics,28.8,19.0,21.0,19,21,-0.35,0.03,-0.32,101.5,...,0.342,0.533,0.486,13.9,18.7,0.222,0.496,16.3,78.0,0.238

In [213]:
# Combine the two dataframes by team name
df = pd.merge(schedule, advanced_stats, left_on="Visitor/Neutral", right_on="Team")
df = pd.merge(df, advanced_stats, left_on="Home/Neutral", right_on="Team")
df = df.drop(['Team_x', 'Team_y'], axis=1)
df.head()

,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Age_x,W_x,L_x,PW_x,PL_x,MOV_x,...,3PAr_y,TS%_y,eFG%_y,TOV%_y,ORB%_y,FT/FGA_y,eFG%.1_y,TOV%.1_y,DRB%_y,FT/FGA.1_y
0,Connecticut Sun,70,Indiana Fever,61,29.1,27.0,13.0,26,14,3.70,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
1,Connecticut Sun,88,Indiana Fever,72,29.1,27.0,13.0,26,14,3.70,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
2,Phoenix Mercury,85,Indiana Fever,82,27.8,9.0,31.0,8,32,-8.30,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
3,Phoenix Mercury,71,Indiana Fever,72,27.8,9.0,31.0,8,32,-8.30,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
4,Chicago Sky,89,Indiana Fever,87,27.2,18.0,22.0,17,23,-1.63,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248

In [214]:
for index, row in df.iterrows():
    if df.loc[index, 'PTS'] > df.loc[index, 'PTS.1']:
        df.loc[index, 'Home_Winner'] = 0
    else:
        df.loc[index, 'Home_Winner'] = 1

df.head()

,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Age_x,W_x,L_x,PW_x,PL_x,MOV_x,...,TS%_y,eFG%_y,TOV%_y,ORB%_y,FT/FGA_y,eFG%.1_y,TOV%.1_y,DRB%_y,FT/FGA.1_y,Home_Winner
0,Connecticut Sun,70,Indiana Fever,61,29.1,27.0,13.0,26,14,3.70,...,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248,0.0
1,Connecticut Sun,88,Indiana Fever,72,29.1,27.0,13.0,26,14,3.70,...,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248,0.0
2,Phoenix Mercury,85,Indiana Fever,82,27.8,9.0,31.0,8,32,-8.30,...,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248,0.0
3,Phoenix Mercury,71,Indiana Fever,72,27.8,9.0,31.0,8,32,-8.30,...,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248,1.0
4,Chicago Sky,89,Indiana Fever,87,27.2,18.0,22.0,17,23,-1.63,...,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248,0.0

In [215]:
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1.0)

sfs = SequentialFeatureSelector(rr, n_features_to_select=10, direction='backward')

In [216]:
remove_cols = ["Home/Neutral", "Visitor/Neutral", "Home_Winner", "PTS", "PTS.1"]
selected_cols = [x for x in df.columns if x not in remove_cols]
df[selected_cols].head()

,Age_x,W_x,L_x,PW_x,PL_x,MOV_x,SOS_x,SRS_x,ORtg_x,DRtg_x,...,3PAr_y,TS%_y,eFG%_y,TOV%_y,ORB%_y,FT/FGA_y,eFG%.1_y,TOV%.1_y,DRB%_y,FT/FGA.1_y
0,29.1,27.0,13.0,26,14,3.70,-0.27,3.43,105.4,100.7,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
1,29.1,27.0,13.0,26,14,3.70,-0.27,3.43,105.4,100.7,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
2,27.8,9.0,31.0,8,32,-8.30,0.55,-7.75,99.1,109.9,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
3,27.8,9.0,31.0,8,32,-8.30,0.55,-7.75,99.1,109.9,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248
4,27.2,18.0,22.0,17,23,-1.63,0.11,-1.52,103.3,105.3,...,0.29,0.532,0.491,15.6,26.4,0.204,0.509,13.9,76.8,0.248

In [217]:
from sklearn.preprocessing import MinMaxScaler

scalar = MinMaxScaler()
df[selected_cols] = scalar.fit_transform(df[selected_cols])
df.head()

,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Age_x,W_x,L_x,PW_x,PL_x,MOV_x,...,TS%_y,eFG%_y,TOV%_y,ORB%_y,FT/FGA_y,eFG%.1_y,TOV%.1_y,DRB%_y,FT/FGA.1_y,Home_Winner
0,Connecticut Sun,70,Indiana Fever,61,1.00000,0.72,0.28,0.666667,0.333333,0.575540,...,0.177215,0.225,0.659574,0.546099,0.392405,0.891892,0.216216,0.690909,0.9625,0.0
1,Connecticut Sun,88,Indiana Fever,72,1.00000,0.72,0.28,0.666667,0.333333,0.575540,...,0.177215,0.225,0.659574,0.546099,0.392405,0.891892,0.216216,0.690909,0.9625,0.0
2,Phoenix Mercury,85,Indiana Fever,82,0.59375,0.00,1.00,0.000000,1.000000,0.000000,...,0.177215,0.225,0.659574,0.546099,0.392405,0.891892,0.216216,0.690909,0.9625,0.0
3,Phoenix Mercury,71,Indiana Fever,72,0.59375,0.00,1.00,0.000000,1.000000,0.000000,...,0.177215,0.225,0.659574,0.546099,0.392405,0.891892,0.216216,0.690909,0.9625,1.0
4,Chicago Sky,89,Indiana Fever,87,0.40625,0.36,0.64,0.333333,0.666667,0.319904,...,0.177215,0.225,0.659574,0.546099,0.392405,0.891892,0.216216,0.690909,0.9625,0.0

In [218]:

sfs.fit(df[selected_cols], df['Home_Winner'])

SequentialFeatureSelector(direction='backward', estimator=RidgeClassifier(),
                          n_features_to_select=10)

In [219]:
predictors = list(df[selected_cols].columns[sfs.get_support()])
df[predictors].head()

,ORB%_x,eFG%.1_x,TOV%.1_x,L_y,TS%_y,eFG%_y,ORB%_y,FT/FGA_y,eFG%.1_y,TOV%.1_y
0,0.368794,0.270270,0.972973,0.84,0.177215,0.225,0.546099,0.392405,0.891892,0.216216
1,0.368794,0.270270,0.972973,0.84,0.177215,0.225,0.546099,0.392405,0.891892,0.216216
2,0.156028,0.810811,0.081081,0.84,0.177215,0.225,0.546099,0.392405,0.891892,0.216216
3,0.156028,0.810811,0.081081,0.84,0.177215,0.225,0.546099,0.392405,0.891892,0.216216
4,0.404255,0.621622,0.405405,0.84,0.177215,0.225,0.546099,0.392405,0.891892,0.216216

In [284]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Split the data into training and testing sets
def prediction():
    X_train, X_test, y_train, y_test = train_test_split(df[predictors], df['Home_Winner'], test_size=0.2)

    # Train a logistic regression model on the training data
    model = LogisticRegression()
    model.fit(X_train, y_train)

    # Predict the labels for the test data
    y_pred = model.predict(X_test)

    # Evaluate the accuracy of the model on the test data
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Accuracy: {accuracy}")

    # test_indicies = X_test.index
    # test_df = df.loc[test_indicies][['Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1', 'Home_Winner']]
    # test_df['Predicted'] = y_pred
    # # determine if the prediction was correct
    # test_df['Correct'] = test_df['Home_Winner'] == test_df['Predicted']
    # print(test_df)

In [285]:
prediction()

Accuracy: 0.7291666666666666
        Visitor/Neutral  PTS        Home/Neutral  PTS.1  Home_Winner  \
93        Indiana Fever   73       Atlanta Dream     82          1.0
68        Atlanta Dream   85      Minnesota Lynx     91          1.0
20      Connecticut Sun   88  Washington Mystics     81          0.0
36         Dallas Wings   97  Washington Mystics     84          0.0
62      Phoenix Mercury   64      Minnesota Lynx     75          1.0
184    New York Liberty   85     Phoenix Mercury     63          0.0
146       Atlanta Dream   72      Las Vegas Aces     93          1.0
107       Atlanta Dream   90  Los Angeles Sparks     79          0.0
161     Connecticut Sun   79         Chicago Sky     73          0.0
178       Seattle Storm   83         Chicago Sky     74          0.0
118       Seattle Storm   85  Los Angeles Sparks     92          1.0
64          Chicago Sky   77      Minnesota Lynx     66          0.0
216  Los Angeles Sparks   79        Dallas Wings     61          0.0
122     Phoenix Mercury   74       Seattle Storm     97          1.0
229  Washington Mystics   74     Connecticut Sun     80          1.0
192      Minnesota Lynx   81     Phoenix Mercury     90          1.0
42      Phoenix Mercury   71    New York Liberty     89          1.0
153      Minnesota Lynx   62      Las Vegas Aces     93          1.0
187      Las Vegas Aces   94     Phoenix Mercury     73          0.0
209      Las Vegas Aces   78        Dallas Wings     80          1.0
57   Los Angeles Sparks   89    New York Liberty     96          1.0
119       Seattle Storm   72  Los Angeles Sparks     61          0.0
208       Atlanta Dream   73        Dallas Wings     85          1.0
201     Connecticut Sun   81        Dallas Wings     91          1.0
147       Atlanta Dream   65      Las Vegas Aces     86          1.0
83      Phoenix Mercury   76       Atlanta Dream     94          1.0
29        Atlanta Dream   80  Washington Mystics     75          0.0
152      Minnesota Lynx   73      Las Vegas Aces     94          1.0
214      Minnesota Lynx   89        Dallas Wings     94          1.0
210      Las Vegas Aces  104        Dallas Wings     84          0.0
160     Connecticut Sun   84         Chicago Sky     72          0.0
115      Minnesota Lynx   67  Los Angeles Sparks     61          0.0
78        Seattle Storm   93      Minnesota Lynx    104          1.0
170  Washington Mystics   80         Chicago Sky     59          0.0
46        Atlanta Dream   86    New York Liberty     79          0.0
21      Connecticut Sun   68  Washington Mystics     64          0.0
23      Phoenix Mercury   69  Washington Mystics     84          1.0
145    New York Liberty   75      Las Vegas Aces     88          1.0
207       Atlanta Dream   78        Dallas Wings     85          1.0
155        Dallas Wings   91      Las Vegas Aces    104          1.0
49       Las Vegas Aces   85    New York Liberty     94          1.0
144    New York Liberty   81      Las Vegas Aces     98          1.0
34       Minnesota Lynx   72  Washington Mystics     83          1.0
162     Phoenix Mercury   85         Chicago Sky    104          1.0
167      Las Vegas Aces  107         Chicago Sky     95          0.0
105    New York Liberty   87  Los Angeles Sparks     79          0.0
53        Indiana Fever   83    New York Liberty    101          1.0
220     Phoenix Mercury   74     Connecticut Sun     84          1.0

     Predicted  Correct
93         1.0     True
68         0.0    False
20         0.0     True
36         1.0    False
62         1.0     True
184        0.0     True
146        1.0     True
107        0.0     True
161        0.0     True
178        0.0     True
118        1.0     True
64         0.0     True
216        1.0    False
122        0.0    False
229        1.0     True
192        0.0    False
42         1.0     True
153        1.0     True
187        0.0     True
209        0.0    False
57         1.0     True
119        1.0    False
208        0.0    False
201        0.0    False
147        1.0     True
83         1.0     True
29         0.0     True
152        1.0     True
214        1.0     True
210        0.0     True
160        0.0     True
115        1.0    False
78         0.0    False
170        0.0     True
46         1.0    False
21         0.0     True
23         1.0     True
145        1.0     True
207        0.0    False
155        1.0     True
49         1.0     True
144        1.0     True
34         1.0     True
162        1.0     True
167        0.0     True
105        0.0     True
53         1.0     True
220        1.0     True